@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");

@import "header";

$font-family: "Inter", sans-serif;

/* reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// test colour, font, partials, mixins, nested properties, vendor prefixes i.e for animation and transformation, extend.

body {
  font-family: $font-family;
  background-color: $primary_color1;
  line-break: auto;
}

main {
  .one {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90svh;
    margin: auto;
    padding: 4em;

    @include large {
      flex-direction: column;
      height: fit-content;
      justify-content: center;
      padding: 6em;
    }

    @include medium-up {
      padding: 3em;
    }

    @include small-up {
      padding: 2em;
    }
  }

  .one .one-left h1 {
    font-size: 4em;
    text-transform: capitalize;
    color: $primary_color4;
    line-height: 130%;
    letter-spacing: 0.01032em;

    @include medium-up {
      font-size: 3em;
    }

    @include largish {
      font-size: 3em;
    }
  }

  .one .one-right {
    width: 70%;

    @include medium-up {
      width: 100%;
    }
  }

  .one .one-right img {
    @include medium-up {
      width: 100%;
    }
  }

  .one .one-left .wrap p.static {
    font-size: 2em;
    color: $bg_color;
    line-height: 120%;

    @include medium-up {
      font-size: 1.4em;
    }

    @include largish {
      font-size: 1.4em;
    }
  }
  .wrap {
    display: flex;
    margin-bottom: 1.5em;
  }
  .wrap .dynamic {
    overflow-y: hidden;
    height: 1em;
    display: inline-block;
  }

  .wrap .dynamic span {
    display: block;
    padding-left: 0.3em;
    font-weight: 600;
    color: $primary_color4;
    font-size: 1em;
    animation: move 6s infinite;
    line-height: 120%;
  }

  @keyframes move {
    10% {
      transform: translateY(-112%);
    }

    25% {
      transform: translateY(-100%);
    }

    35% {
      transform: translateY(-212%);
    }

    50% {
      transform: translateY(-200%);
    }

    60% {
      transform: translateY(-312%);
    }

    75% {
      transform: translateY(-300%);
    }

    85% {
      transform: translateY(-412%);
    }

    100% {
      transform: translateY(-400%);
    }
  }
  .one .one-left p.grey {
    font-size: 1.5em;
    color: $primary_color2;
    width: 80%;
    line-height: 150%;
    font-weight: 500;

    @include large {
      width: 100%;
    }

    @include medium-up {
      font-size: 1em;
    }

    @include largish {
      font-size: 1em;
    }
  }
}
